# --- Python関連 ---
__pycache__/
*.py[cod]
*$py.class

# --- 仮想環境 ---
.venv/
venv/
env/

# --- ビルド・パッケージ関連 ---
dist/
build/
*.spec

# --- エディタ関連 ---
.vscode/
.md


# --- macOS 固有のシステムファイル ---
.DS_Store
.AppleDouble
.LSOverride

# アイコン用ファイル（隠しファイル）
Icon?

# サムネイル・メタデータ（Windowsで見ると ._main.py のように見えるやつ）
._*

# ボリューム固有のフォルダ（外付けHDDなど）
.Spotlight-V100
.Trashes
.fseventsd

# 基本
ignore/


# --- アプリ固有のデータ（要注意！） ---
projectors.json
presets.json
settings.json
*.psd
icon.png
